.header {
    background-color: rgb(228, 207, 179);

    grid-column: full-start / center-start;
    grid-row: 2 / -1;

    display: flex;
    align-items: center;

    justify-content: space-between;

}

.sidenav {
    list-style: none;

    &-item {
        padding: 2rem 4rem;
        
        &:hover {
            background-color: black;
            color: white;
        }
    }
}