.navigation {
    background-color: rgb(177, 127, 63);

    grid-column: full-start / full-end;

    display: flex;

    justify-content: space-between;
    align-items: center;

    &__first {
        background-color: beige;
    }
    &__second {
        background-color: beige;
    }
    &__third {
        background-color: beige;
    }
}